


.container-title{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin-top: 3vh;
    margin-bottom: 1vh;
    color:azure;
}

.container-text{
    font-family: 'Inter', sans-serif;
    text-align: center;
    color:#d8d8d8;
}