@media (max-width: 576px) {
  .card-mobile {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}

.card-image-container-aulas {
  border-radius: 20%;
  max-height: 180px;
}
.card-image-aulas {
  width: 100%;
  height: 100%;
  object-fit: cover;
  max-height: 180px;
}

.card-aulas {
  text-align: center;
  margin-top: 2vh;
  border: 2px solid #202030;
  background-color: #181824;
  overflow: hidden;
  border-radius: 12px;
  width: 100%; 
  max-width: 450px; 
  padding: 5px 15px;
  min-height: 300px;
  max-height: 300px;
  justify-content: space-evenly;
}

  .card-button {
    background-color: #007bff;
    color: #fff;
    padding: 3px 4px;
    text-decoration: none;
    border-radius: 4px;
    border: none;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 14px;
    transition: transform 0.4s ease;
  }

  .card-button.hovered {
    transform: scale(1.07);
  }